[2018-10-01 13:00] dericgw opened #1 "Make Floating Action Button WAI-ARIA compliant"
I would be nice to have the component accessible for those that use screen readers and such. I am not positive what all goes into making this happen so I am going to start researching it. However, this should be some pretty low hanging fruit.

[2018-10-01 18:01] #1 closed

[2018-10-01 18:02] dericgw opened #3 "Add docz so that there is interactive documentation"
I would like to add https://github.com/pedronauck/docz to the lib so that I can have a Gitub pages page with interactive documentation.

[2018-10-01 18:09] d-ivashchuk commented on #3
hey @dericgw, do you need to transfer current `Readme` to docz or just to add it to the project?

[2018-10-01 18:15] dericgw commented on #3
@d-ivashchuk Hey! I do not want to replace the current readme. Instead, I would like to add Docz and setup the FAB as a component within Docz. Also, it would be great to get the `PropsTable` working. This does not have to be exhaustive because I will tweak it later.

Does that make sense? Let me know if you need more clarification.

[2018-10-01 18:19] d-ivashchuk commented on #3
I've previously worked with `react-styleguidist` but I think I can handle  `docz` also  for the learning purposes. The question is, will you deploy it somewhere else, or you need a way to integrate `docz` documentation to github?

[2018-10-01 18:21] d-ivashchuk commented on #3
Anyway, I will start working on this and see where it leads us!

[2018-10-01 18:58] dericgw commented on #3
When specifically are you looking to do? You can find the example within the `./example` folder. That is, essentially, just a Create React App project that displays the FAB in various different ways. When you run `npm start`, it should open the browser for you.

[2018-10-01 19:06] d-ivashchuk commented on #3
Nah, does not open a browser for some reason, and that's why I was asking for specific path:)

[2018-10-01 19:07] dericgw commented on #3
Did you figure it out? Are you on a Mac, or something else?

[2018-10-01 19:10] d-ivashchuk commented on #3
No, I've decided to try the component out in `docz` directly but having no luck so far to make it work. That's where dev tools would help. Yeah, I am on mac and I'm getting the following console output on npm start `created example/src/fab.js in 1s`

[2018-10-01 19:12] dericgw commented on #3
Try this...
[code]

I am thinking that maybe the deps did not get installed in the `example` folder.

[2018-10-01 19:29] d-ivashchuk commented on #3
Yep, probably my bad! now it's working, I will submit a PR when I will make it work

[2018-10-02 14:19] dericgw commented on #3
@d-ivashchuk Thanks for working on this for me! I am going to accept the PR. I will play around with it and I may use it as my dev environment if it seems like a good fit for such. Anyhow, thanks again.

[2018-10-02 16:40] dericgw commented on #3
Closed by #4

[2018-10-02 16:40] #3 closed

[2018-10-02 16:56] dericgw opened #9 "Create pre-commit hook to build docs"
Building docs before committing code is easy to forget. Good thing is that this is something that can be automated. I would like a pre-commit hook that is able to do this:

1. Build the docs `npm run build:docs`
2. Add the `./docs` folder to the git `git add docs`

There are a couple of npm packages that could help with this:
- https://www.npmjs.com/package/pre-commit
- https://www.npmjs.com/packa

[2018-10-02 17:08] grug commented on #9
Could I please take this one?

[2018-10-02 17:09] dericgw commented on #9
@grug Go ahead!

[2018-10-02 19:50] grug commented on #9
:(

[2018-10-02 20:10] dericgw opened #11 "Fix missing parenthesis on README.md"
If you look here...

https://github.com/dericgw/react-tiny-fab#props-1

... the `...props` description has a missing closing parenthesis. This needs to be fixed in two places:

[code]

[2018-10-02 20:11] dericgw commented on #9
@grug I'm sorry that you did not get to complete this PR. I have been doing this for long enough to know that sometimes people say that want to do a PR and then they never get around to doing it. I do not think that you fall into this category, otherwise, you would not have displayed your disappointment. However, I would recommend next time to just submit a PR instead. If somebody beats you to it,

[2018-10-02 20:11] ajcpwnz commented on #11
Assign to me

[2018-10-03 18:16] #11 closed

[2018-10-07 17:12] vitalyliber opened #13 "Did you have problems with a "Module parse failed" error?"
Hi! I use webpacker for a work with ES6.
And it was okay.
But your package doesn't work.
If you had this issue, please, talk me about solution =)
[code]

[2018-10-09 13:14] dericgw commented on #13
Most of the time, Webpack does not transpile anything imported from the node_modules folder. How are you importing the Fab component?

[2018-10-16 15:08] dericgw opened #14 "Fix minor error in readme - styles import path is incorrect"
The readme has the incorrect import path for the stylesheet. See here:
https://github.com/dericgw/react-tiny-fab/blame/master/README.md#L22

The correct code should be: `import 'react-tiny-fab/dist/styles.min.css';`

[2018-10-16 15:12] dericgw commented on #13
@vitalyliber Can you paste your webpack config here? I have tested this with a fresh Create React App install and it is working as expected. For some reason, your app is attempting to import the "esm" version of my library but webpack (or rollup) is not transpiling it. While it is not "normal" for your app to attempt to import the "esm" version, it is normal to tell webpack **not** to transpile co

[2018-10-16 15:32] dericgw commented on #14
Fixed with #15

[2018-10-16 15:32] #14 closed

[2018-11-02 12:39] dericgw opened #16 "Update example to use Create React App v2"
It looks like there is a vulnerability in a dependency of CRAv1. Updating that to v2 should resolve the issue.

[2018-11-21 21:26] shadialtarsha opened #18 "Hidding the Menu after clicking on one item"
Hello, Can I trigger the mouseleave event after I click on one of the menu items. Currently, I am opening a dialog after clicking on the first item in the menu but the state of the FAB not changing from open true to open false. I tried to trigger the mouseleave (mouseout) events from the code but no success. My goal is just hide the menu after clicking on any of the items in the menu

[2018-11-21 21:42] dericgw commented on #18
Can you paste the exact code you’re using so I can find a solution?

[2018-11-22 09:06] shadialtarsha commented on #18
Thank you for replaying
my FAB code:
`const FloatingActionButton = ({ actions }) => (
  <Fab
    mainButtonStyles={{ backgroundColor: '#00bcd4' }}
    position={{
      bottom: 0,
      right: '0.5rem',
    }}
    icon={<i className="zmdi zmdi-settings zmdi-hc-lg" />}
    event="hover"

    {actions.map(action => (
      <Action
        key={Math.random()}
        style={{ backgroundColor: '#00bcd

[2018-11-22 09:16] shadialtarsha commented on #18
Thank you for replaying
my FAB code:
[code]
Here I am using it:
[code]
So I want after opening the AddDialog i want the fab menu to be closed.
Currently, AddDialog is open by the FAB

[2018-11-26 14:04] #18 closed

[2018-11-26 14:14] dericgw commented on #18
@shadialtarsha I put a fix in place that should address this. Make sure to update your package.json to use v2 of `react-tiny-fab` and let me know if that fixes the issue for you.

[2018-11-26 14:21] shadialtarsha commented on #18
@dericgw Thank you so much. It works perfectly

[2018-11-26 14:21] dericgw commented on #18
@shadialtarsha So good to hear!

[2018-12-23 19:16] kaicianflone commented on #16
Does this not work with CRA V2? I am receiving a loader issue when trying to use the package in my CRA V2 app. Much like Issue #13 .

Thanks!

[2018-12-23 20:06] dericgw commented on #16
@kaicianflone It should work fine. Can you create and issue and paste the exact error you’re getting?

[2018-12-30 03:31] dericgw commented on #16
@jkhaui Are you using Create React App? If so, what version? If not, can you create an issue and paste your Webpack config? This issue is completely irrelevant to the issue you may be having so a new issue would be the best place to solve this.

[2019-06-04 09:59] NoMoreViolence opened #22 "I need type definition"
I use typescript react,
But, there is no any type definition
can you support for typescript react users?

[2019-06-04 10:04] NoMoreViolence commented on #22
Maybe I can make type definition for your library

[2019-06-04 11:42] dericgw commented on #22
That would be great!

[2019-06-04 13:33] NoMoreViolence opened #23 "Home page update"
https://dericgw.github.io/react-tiny-fab/#/

This part need to change.

Usage
There are two components available for import - Fab and Action. You import them like this:

1
   import { Fab, Action } from 'react-tiny-fab';
2
 ###   import 'react-tiny-fab/styles.css';
to
 ###   import 'react-tiny-fab/dist/styles.css';

The description between github README and homepage is different.

The github docum

[2019-06-04 13:49] NoMoreViolence commented on #22
I pushed type definition

[2019-06-09 12:02] #22 closed

[2019-06-17 12:16] dericgw commented on #23
@NoMoreViolence This will be fixed with the next version which I am about to release. Thanks for pointing this out!

[2019-06-27 09:19] ettingshausen opened #26 "Add an option to control whether the title of the button is displayed"
The title of the button shown only if when it was hoverd. These buttons are not easily hovered if used on a mobile  situation.
So, are we considering adding an option to control whether the title is displayed not only the button is hovered?

[2019-07-01 12:18] ettingshausen commented on #26
I added the option.
Using like this:
[code]
![gifhome_360x566](https://user-images.githubusercontent.com/9806325/60435555-7b2c9180-9c3c-11e9-9504-edd3762abf42.gif)

To keep the original look, just remove the `showTitle` prop.

[2019-07-07 17:31] YassienW opened #30 "Allow className props"
Is there a reason to why we can't do that? It would be handy for people who don't use React styles.

[2019-07-09 13:49] dericgw commented on #30
The problem is that there are multiple components and if I allow the class name prop, what component should that apply to? What is your specific use case and maybe I can help you?

[2019-07-09 18:01] YassienW commented on #30
From my understanding you allow the style prop on the `<Fab/>` and the `<Action/>` components. Allowing a className prop would allow styling the same components via a css class instead of having to use inline styles, it wouldn't be much different. It can be further extended by adding props for their respective elements, but this is not something that the library offers right now anyway. For my use

[2019-07-09 18:11] dericgw commented on #30
All of the components have a `className` already, so you could style them any way you want using an external stylesheet, Styled Components, etc. That is something that I should document better so that people have a better understanding of the different ways to style the components.

[2019-07-09 18:11] #30 closed

[2019-07-09 18:45] YassienW commented on #30
I realize that this is a possible option, however if i have pre-existing classes that i would like to apply to a component, it would be far more convenient and cleaner to simply add the classes to said component, rather than manually copy all the styles. This is especially true if you are using a class from an external component library like Bootstrap (which i am).

[2019-07-28 23:15] #23 closed

[2019-07-28 23:15] #26 closed

[2019-07-28 23:51] dericgw commented on #26
Version 3 is now released and this fix is live 🎉  Thanks for your help with this.

[2019-07-28 23:51] dericgw commented on #22
Type definitions are now live in v3 🎉

[2019-07-30 01:35] tameem92 opened #31 "Clicking on iOS device in Safari and Chrome not working"
Hi,

I've been trying to test tiny-fab on an iOS device. And only the first click sometimes works on Safari, but then no click events are fired. I see a similar issue in Chrome on iPhone X as well.

Has anyone run into this issue? Also, what other information should I provide to dig into it more?

[2019-07-30 10:21] dericgw commented on #31
I can confirm this is happening on my Google Pixel as well (Chrome). Do you have the event prop set to "hover"?

[2019-07-30 13:43] tameem92 commented on #31
I've tried changing it to 'click' as well. Seeing the same issue with both. I will try and dig into it a bit deeper today.

[2019-07-30 14:08] tameem92 commented on #31
I just tried the example in the project. And seems to be like the "click" events are working on the iOS device. Going to try that in my project and make sure it's actually following the click event.

[2019-07-30 15:34] tameem92 commented on #31
Changing the event to "click" solves the issue. I am just switching based on screen size with even type to use. Going to close the issue.

[2019-07-30 15:34] #31 closed

[2019-08-01 21:27] dpills opened #32 "Unable to conditionally render Actions"
When attempting to conditionally render `Actions` such as in the following example the below type error is received.

repro: https://codesandbox.io/s/react-tiny-fab-conditional-render-1qlc3

[code]

[code]

[2019-08-02 10:10] #32 closed

[2019-08-02 10:13] dericgw commented on #32
Thanks for a very descriptive issue and also the PR. It is now published.

[2019-08-02 21:58] dpills commented on #32
No problem, thanks for the quick help!

[2019-08-09 17:16] ymkz opened #34 "Missing type definition"
##### Issue
#22 is pushed type definition into this repo, but npm published module has not `d.ts` file.

##### Reason
The reason is that the package.json `types` field specifies `src/index.d.ts`, but the `src`  directory is not included in publish.

##### Suggestion
I think it can be solve by either.
- Include `src` directory to publish with `files` field in package.json.
- Deploy `index.d.ts` to

[2019-08-12 10:39] dericgw commented on #34
@ymkz Thanks for pointing this out. I am copying the types file on build now and I updated the package.json to reflect the location of the types file in `v3.0.2`.

[2019-08-12 10:39] #34 closed

[2019-08-12 10:51] ymkz commented on #34
@dericgw Great work! Thank you.

[2019-08-15 12:10] cheles opened #35 "Clicking on an input field "minimizes" the button"
Hello
I've been testing your sample from here https://github.com/dericgw/react-tiny-fab/blob/master/example/index.html with <Help /> component. It seems that as soon as I click in one of the inputs, the form dissapears. Is there a workaround for that?

Thanks

[2019-09-02 02:12] jsu93 opened #36 "Transform dist/ from es6 to es5"
[code]

the dist code is not translate to es5...

[2019-09-02 11:59] dericgw commented on #36
There are 2 builds that are produced at build time. One is transpiled down and one isn't. The one that you pasted is not. This allows Webpack, and other bundlers, to tree shake and optimize.

Is there a specific problem you are hanging that needs to be addressed?

[2019-09-03 03:24] jsu93 commented on #36
yeah. I debug some page in the webview. the webview didn't support es6 spread operator ...

[2019-09-03 11:18] dericgw commented on #36
@jsu93 What bundler are you using, i.e., Webpack, Parcel, Rollup, etc? Can you share your config?

[2019-09-04 01:45] jsu93 commented on #36
Because `react-tiny-fab` will install at `node_modules`, and webpack default config is didn't recompile the directory library

[2019-09-04 13:48] dericgw commented on #36
I'm sorry, but without a reproduction or a Webpack config to see, I cannot help debug this. Webpack knows how to read the "module" field of a package.json and that is how it knows to handle ES modules.

For instance, if you create a codesandbox and add this library, it works. That tells me that something is going on in your config.

[2019-09-07 11:50] dericgw commented on #36
Closing for lack of reproduction.

[2019-09-07 11:50] #36 closed

[2019-09-19 12:42] dericgw commented on #35
@cheles So sorry for the delay. I will look into this and get a fix out.

[2019-10-15 10:35] velthune opened #38 "Add speed animation control"
Hi Deric, nice component so thank a lot to share it!
It would be nice if you will add a prop to setup the animation speed of the appearing actions 😇

[2019-10-15 12:37] dericgw commented on #38
Thanks!! As of right now, the animation is handled by CSS. I would have to jump through a couple of hoops to make it allow for transition times. You could override the CSS if you want to change it. https://github.com/dericgw/react-tiny-fab/blob/898528d034762c42d218fdddf34b14427d1d4ff6/src/styles.scss#L35

[2019-10-16 17:43] #38 closed

[2019-11-23 11:42] shanhuiyang opened #40 "Use the FAB without menu"
Thanks for this good widget.
Sometimes I just have one action to add into the FAB.
Then I do not want to expand the menu while user click the FAB; instead I want directly take the action while user click the FAB.
It seems like I have no way to do that.
Could you please support that. I think we can just add an onClick property so that FAB can take the onClick action directly.

[2019-11-23 15:53] shanhuiyang opened #41 "Fab cannot float correctly while the window is narrow"
For example on the mobile browser the FAB is stick to the bottom of the layout but not float.
If this is bug? In desktop browser the FAB is works very well. I think this issue is easy to reproduce.
##

It looks like I am doing something wrong but I don't know what's is wrong...
The example FAB looks good on mobile browser.

[2019-11-24 13:45] dericgw commented on #41
[The position is fixed](https://github.com/dericgw/react-tiny-fab/blob/master/src/styles.scss#L4), so I am not sure what is going on. Can you show some reproducible code?

[2019-11-25 03:08] #40 closed

[2019-11-25 03:13] dericgw commented on #40
@shanhulyang I added an `onClick` prop to the main button and published to NPM so this should work now.

[2019-11-27 05:53] shanhuiyang commented on #40
@dericgw This is great! Love you guys.

[2019-11-27 05:55] shanhuiyang commented on #41
Let me extract to some example code, **will attach it later**.

[2019-11-27 11:16] shanhuiyang commented on #41
I used react-tiny-fab in one of [my repo](https://github.com/shanhuiyang/TypeScript-MERN-Starter).
I created a component named [`MenuFab`](https://github.com/shanhuiyang/TypeScript-MERN-Starter/blob/master/client/core/src/components/shared/MenuFab.tsx). Just abstract the properties into objects.
Then I used this component [in a page](https://github.com/shanhuiyang/TypeScript-MERN-Starter/blob/mast

[2019-11-27 16:01] dericgw commented on #41
I would like to see the dev tools and check out the element to see if some style is being overwritten. If you look at the docs page of this library and change the width to mimic mobile, you'll see that the FAB acts as expected. If you could create a codesandbox to show the reproducible code, I could better debug it. It's hard to say with only seeing screenshots.

[2019-11-27 17:12] shanhuiyang commented on #41
OK, I will try to repro the issue in CodeSandbox.

[2019-11-27 17:39] shanhuiyang commented on #40
I just tested 3.1.0. I found following issues that may be improved.
1. When `onClick` for `<Fab/>` is enabled, the icon should not spin with an angle. It should act exactly like `<Action/>` do.
2. When `onClick` for `<Fab/>` is enabled, text can be shown while mouse hover on `<Fab/>`, just like `<Action/>` do. Therefore, one more property can be added into
3. Update [index.d.ts](https://github.com

[2019-11-27 19:48] dericgw commented on #40
Feel free to open a PR with the suggested changes!

Deric Cain

________________________________
From: SHAN Huiyang <notifications@github.com>
Sent: Wednesday, November 27, 2019 11:39:52 AM
To: dericgw/react-tiny-fab <react-tiny-fab@noreply.github.com>
Cc: Deric Cain <deric.cain@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dericgw/react-tiny-fab] Use the FAB without menu (#40)

I

[2019-11-28 12:34] shanhuiyang commented on #40
@dericgw https://github.com/dericgw/react-tiny-fab/pull/43/files

[2019-12-02 14:14] shanhuiyang commented on #40
@dericgw gently ping.

[2019-12-03 14:45] dericgw commented on #41
I am going to close this for now but feel free to ping me if you can reproduce this.

[2019-12-03 14:45] #41 closed

[2019-12-07 12:02] shanhuiyang opened #44 "Compatibility issue on Edge"
Found following error on Edge

fab.esm.js (84,1)

![edgeerror](https://user-images.githubusercontent.com/50712413/70374392-893db700-192c-11ea-9a00-222bdbe1f6f3.PNG)

[2019-12-07 14:52] dericgw commented on #44
That is the ESM build which needs to be compiled before use.

[2019-12-08 09:43] shanhuiyang commented on #44
Not sure how could I resolve the problem. No issue for other browsers.
Could you please illustrate what is the issue exactly?

[2019-12-09 12:50] dericgw commented on #44
Are you testing this after running
[code]
Or, is this output from running
[code]

[2019-12-10 14:00] shanhuiyang commented on #44
Yes, I am using Create React App, did not configure anything, just run with `npm run start`

[2019-12-10 14:12] dericgw commented on #44
You probably need to adjust your "Browserlist" setting for your development environment in order to get it working correctly. It seems like right now, your code is not compiling correctly to work with Edge. Read this for more information: https://create-react-app.dev/docs/supported-browsers-features/#configuring-supported-browsers

Closing for now, but please let me know if you have any more quest

[2019-12-10 14:12] #44 closed

[2020-01-09 23:57] sashiRachakonda opened #45 "SCRIPT1028: Expected identifier, string or number"
on Microsoft Edge the error 'SCRIPT1028: SCRIPT1028: Expected identifier, string or number' appears in the console and a blank page is rendered when just adding import { Fab, Action } from 'react-tiny-fab'; to .jsx

using Create-react-app with the latest react-scripts...here is the excerpt from package.json..

    "react": "^16.12.0",
    "react-dom": "^16.12.0",
    "react-scripts": "3.3.0",

[2020-01-10 19:05] dericgw commented on #45
See #44 and let me know if that doesn't work.

[2020-01-10 19:05] #45 closed

[2020-01-10 19:39] sashiRachakonda commented on #45
that did it...thanks!

[2020-01-22 08:39] exneval opened #46 "Need an Improvement"
It will be much better if, it can always show the children of the fab.
The event 'hover' or 'click' doesn't meet this requirement. Thanks.

[2020-01-22 20:14] dericgw commented on #46
Feel free to open a PR with the option to pass `always` to the prop.

[2020-02-14 10:49] SylarRuby opened #48 "HowTo: Disable react-tiny-fab only supports up to 6 action buttons"
I understand only 6 buttons max are supported but I needed 8. I've added 8 with css modification; works great and a super thank you for such tool.

Is there a way to disable this console log warning:

PS: I wish not to fork.

Thanks.

[2020-02-15 18:21] dericgw commented on #48
If you want to submit a PR and remove the warning, I am okay with that. We can mention in the README that Material suggests not to use more than six.

[2020-02-19 09:57] SylarRuby commented on #48
Thanks. I've found ways not to go beyond the recommended 6. Thanks for your reply.

[2020-02-19 09:57] #48 closed

[2020-04-26 17:25] anasalaqeel opened #49 "the target undefined"
Hi
when I set onClick function on any component between <Fab> component I can't trigger the target

[code]
`results in console: undefined`

how is that possible?

[2020-04-27 16:31] #49 closed

[2020-04-27 16:37] dericgw commented on #49
@anasalaqeel Good catch. The event was not being passed into `onClick`. I just released `v3.4.1` which addresses that issue. Please upgrade your package version and try it out now.

[2020-04-27 16:37] dericgw commented on #46
I am closing this due to a lack of activity. Feel free to open a PR if you want to add it.

[2020-04-27 16:37] #46 closed

[2020-07-03 10:25] frab90 opened #51 "Define which way the menu is opened"
Hello,
I'd like to use a `react-tiny-fab` in every Card component in the dashboard I'm creating.
It would be amazing to be free to position the `react-tiny-fab` in a position relative to its parent component.
It would be amazing to be free to define which way it expands.

For the moment I have positioned it this way but it's not clean at all.
[code]

Where `position` is calculated
[code]

I also h

[2020-07-03 12:21] dericgw commented on #51
@frab90 What would you propose the API should look like in order to achieve what you want?

One way you could do this is by using CSS (I could even allow props to be passed down in case you are using Styled Components, or some type of CSS-in-JS). If you want to use CSS to do what you want, here is how:

[code]
Then, the position you pass in would be relative to the nearest `relative` container - i

[2020-07-03 14:15] frab90 commented on #51
Thank you  @dericgw  for the quick reply.

**About the expansion direction**
I figured out that passing `bottom` instead of `top` to the `position` prop is enough to make the action appear upward. It works but if you want to allow more customization a way to improve it would be to add an `expand` prop with one of those values: `up`, `down`, `left`, `right`. If any value is provided for the `expand

[2020-07-05 23:24] rberger opened #52 "Way to have the Fab positioned relative / inside another component?"
Seems that the position prop only sets it relative to the page/viewport. Is there a way to have it be relative to a component / container instead?

[2020-07-06 01:16] dericgw commented on #52
Part of this is discussed in #51. I believe I am going to spread props to the FAB container which would allow styles to be passed. You could use CSS to override the `.rtf` and set the position to `absolute` instead of `fixed` but I know this isn't very convenient for things like Styles Components. I'll try and get something out this week unless you want to create a PR. It should be a two line chan

[2020-07-06 05:16] rberger commented on #52
Setting the top level .rtf position to absolute did it for me. If I can figure it out, I will try to make a PR. Still pretty new to all this react stuff.. Thanks!

[2020-07-09 14:33] dericgw commented on #51
@frab90 I like your idea of changing the `position` prop to `style` prop - that really makes more sense because that is what it is used for. I also like the suggestion of having another prop like `expand` to allow the consumer to define which way the menu will expand. If I can get some time, I will implement this. This would require a new major version since the API would change (I wouldn't want t

[2020-07-17 13:18] tareqdayya commented on #52
Just add:
`transform: translate(0, 0) `
to the parent which you want to be the containing block.

[2020-07-21 20:50] ulsha opened #53 "Add prop so that FAB can be open/closed externally"
Hello,
I'm a fan of `react-tiny-fab` - I like the simplicity of the implementation and design.
One thing I am missing, however, is a prop so that the component can be toggled/untoggled externally - for example, if a new process/job arrives the FAB should be toggled to display its progress. The user can then untoggle it automatically again.

[2020-07-22 12:02] dericgw commented on #53
That is an interesting idea, but I am not sure how prevalent the use case is for that. What I mean is how many times would a user want to trigger a button from another action/element? This also causes the component to keep the state in sync by looking at the internal state as well as the `toggled` prop that is passed in. This is doable but it does add some complexity and I am not sure the added co

[2020-07-22 13:55] ulsha commented on #53
For example, I'm using it for a 'process queue' like the one you'd find when you upload something to Google Drive.

For example: https://i.stack.imgur.com/4DkBt.jpg

When one initiates a process you'd want the FAB to toggle automatically to display to the user that the process has started.

I know this might not be the exact intended usage, but your implementation was really the only solid impleme

[2020-07-29 08:24] papuruth opened #54 "Disabled Prop"
Is ther any way to disabled the main fab button?

[2020-07-29 20:16] dericgw commented on #54
There is not right now but I am going to add the ability to spread props to any off the underlying components. That should add this feature. I will try and get to that by the weekend.

[2020-08-21 05:05] ralppppy opened #55 "How to show label by default?"
How can I show the label by default without hovering? It will be useful in mobile views because there is no hover in mobile.

[2020-10-02 12:40] dericgw commented on #52
This will be fixed in v4 which I am about to release.

[2020-10-02 12:40] dericgw commented on #35
This will be fixed in v4 which is about to be released.

[2020-10-02 12:41] dericgw commented on #51
This will be fixed in v4 which is about to be released.

[2020-10-02 12:43] dericgw commented on #54
Here is a way to achieve this. I know it's not very elegant, but it does the job.

https://codesandbox.io/s/magical-swirles-txq1l?file=/src/App.js

[2020-10-02 12:43] #54 closed

[2020-10-02 12:46] #35 closed

[2020-10-02 12:46] #51 closed

[2020-10-02 12:46] #52 closed

[2020-10-08 15:08] dericgw opened #61 "Get example working in "example" folder"
In version previous to v4, there was an example in the example folder that would run when running `npm run start`. Since the update to v4, this no longer works. All of the code for the examples is here: https://github.com/dericgw/react-tiny-fab/blob/master/example/index.html

Ideally, we would want to run `npm run start:example` and the example would be served in the browser. I am not overly conce

[2020-10-14 15:29] carlwood opened #63 "MIT License page 404s"
- On https://dericgw.github.io/react-tiny-fab/#license-mit
- Click on 'Check it out here'
- https://dericgw.github.io/react-tiny-fab/LICENSE.md 404s

[2020-10-14 22:28] dericgw commented on #63
Thanks for spotting that  Do you want to submit a PR to fix it? It counts against Hacktoberfest

[2020-10-14 22:28] #61 closed

[2020-10-16 02:44] osmarpetry commented on #63
Can I be assigned to this issue?

[2020-10-16 08:00] carlwood commented on #63
@osmarpetry Yep - go for it! 👍

[2020-10-16 17:28] dericgw commented on #63
@osmarpetry Yes, for sure.

[2020-10-21 03:59] osmarpetry commented on #63
Pull request is open! #64

[2020-10-21 12:08] #63 closed

[2020-10-24 20:56] theFl00f opened #65 "onMouseLeave cancels out onClick toggle"
Current behaviour:
Even though logic exists to keep TinyFab visible when clicked, the class was being removed onMouseLeave.
Expected behaviour:
TinyFab stays visible when clicked until clicked again to allow closing.

[2020-10-27 12:42] dericgw commented on #65
Sorry for the late response. I see that you opened a PR for this. Could you give an example of this? I started an example Codesandbox here: https://codesandbox.io/s/tender-lehmann-4hy16?file=/src/App.js

When I use the components there, they _seem_ to work as expected so I am interested in what behavior you are seeing. Thanks!

[2020-10-27 18:29] theFl00f commented on #65
Hey friend! This is probably working as intended seeing that codepen example. The behaviour I expected was to be able to hover, as well as be able to click on the MainButton to keep the list expanded.

[2020-10-28 17:21] dericgw commented on #65
I am not quite sure what you mean. Are you saying you want both click and hover to work at the same time?

[2020-11-14 19:20] mathiscode commented on #30
+1 on this - I wanted to use [animate.css](https://animate.style) and this was a stumbling block.

[2020-11-14 19:35] dericgw commented on #30
@mathiscode This should work in the new version. Have you tried it?

[2020-11-14 20:03] mathiscode commented on #30
Yikes! You made me realize I was using an outdated version. :smile:

It does work, but when I specify the className prop to <Fab>, I lose the automatic open/close handling and I have to manually include the rtf class and also handle clicks to swap the open/closed classes.

[code]

[2020-12-01 23:35] johnhayesio opened #71 "How to turn animation on hover/click off?"
Is there a way to disable the hover/click animation on the button? I looked through the docs, but didn't see a way to do so.

[2020-12-05 19:08] dericgw commented on #71
You should be able to override the CSS. Here is one of the places: https://github.com/dericgw/react-tiny-fab/blob/master/src/styles.scss#L13

[2020-12-05 19:08] #71 closed

[2020-12-14 10:37] didier-demange opened #72 "Allow custom main button"
Hi !

I currently use this awesome component with a "burger menu" icon, which does not look nice with the rotation. It ends up like this :
![image](https://user-images.githubusercontent.com/67912035/102070849-fc132500-3dff-11eb-84f0-a9f89e99986e.png)

I would love to be able to replace the main button with another one (like [this one](https://hamburger-react.netlify.app/) 🤩 ).

This would imply th

[2020-12-14 10:50] didier-demange commented on #72
Just for info, I can achieve nearly what I want by just setting the `icon` to the `Hamburger` component (strangely the click is handled by both the `Hamburger` and the `Fab`...), but the rotation (that cannot be canceled) still makes it ugly :-( Would be great if it could be disabled !

[2020-12-16 15:23] msagerup commented on #65
is it possible?

Great work btw!

[2020-12-16 16:43] msagerup opened #73 "close when clicking outside"
How do i get them to close when i click outside the floating buttons?
I am using the click action.

[2020-12-21 11:24] momocow commented on #53
Another use case for me, I set `event` to `"click"` and provide a custom `onClick` function to open a mask. After the mask is shown, I want the FAB to be opened; however there is no way to open it programmatically.

[2021-01-21 19:53] cesig opened #75 "Example tap behavior stops working"
This might not be an issue with the component, but on the example I identified buggy behavior.

If I tap the button to open the menu with the two options (= and +) and I tap =, after I tap the OK button on the Alert that it spawns and the menu closes, I am no longer able to tap the button to re-open the menu, without first de-focusing it.

I recorded a video here:
https://imgur.com/a/fITbFt3

It's

[2021-02-17 08:42] jhofer commented on #53
Here is my workaround to override it from outside:

[code]

[2021-02-18 06:05] smajumder2017 opened #76 "Add Style to texts"
Can we add a props to style the texts?

[2021-02-19 13:32] Deep-Codes commented on #75
Seems to work fine in mine :)

[2021-03-04 00:11] Leocamarggo commented on #73
I would also like to know  ;0

[2021-04-07 00:53] nonoumasy opened #77 "Title text not showing when using react-router-dom Link"
Love the library. Thanks.

So when I surround the Action component with Link from react-router-dom, the title text does not show. So I tried adding an onClick handler instead but its also not working.

[code]

![Screen Shot 2021-04-06 at 5 53 07 PM](https://user-images.githubusercontent.com/6312676/113795111-f7e97b00-9700-11eb-899c-c75705f7c1a6.png)

Is there an easy fix so that the text title sho

[2021-04-09 17:19] lr001dev opened #78 "Support more than 6 buttons"
I'm creating a tool bar with your library and I added one more button over 6 and the UI breaks. I understand 6 is only supported. Is it possible support than six?

[2021-04-26 22:36] sanjubhambhani opened #79 "Action Menu remains open when menu item is clicked?"
I just updated from v3.5.0 to v4.0.2 and noticed the action menu remains open when a menu item is clicked?

Is this by design?

The demo on the documentation page closes as expected, which is throwing me off.

On React v17.0.2

[2021-05-14 12:13] aabuhijleh commented on #41
@dericgw I could reproduce this on a very narrow width

check https://aabuhijleh.com please

[2021-05-14 12:13] aabuhijleh commented on #41
@shanhuiyang were you able to fix this?

[2021-05-15 12:37] dericgw commented on #65
Currently, either is supported but not at the same time. I am going to close this for now but if more discussion is warranted, please comment and I will open this back up and consider it.

[2021-05-15 12:37] #65 closed

[2021-05-15 12:42] dericgw commented on #79
Hmmm... That's a good question. I suppose it does make sense to close it when an action button is clicked. I'll see if I can implement this.

[2021-05-15 12:46] dericgw commented on #79
After looking through the code again, it should close when an action button is clicked as you can see here: https://github.com/dericgw/react-tiny-fab/blob/49ba6e5f88107681546720fddedb7dd76ae0ebc3/src/index.tsx#L69

Can you reproduce this?

[2021-05-15 12:50] dericgw commented on #78
I am trying to follow the material guidelines, which means that six items is the limit.

![image](https://user-images.githubusercontent.com/34040106/118361704-3836e700-b552-11eb-90bc-57b58c38d273.png)

You can read more here: https://material.io/components/buttons-floating-action-button#types-of-transitions

[2021-05-15 12:50] #78 closed

[2021-05-15 12:51] #79 closed

[2021-05-15 12:53] dericgw commented on #77
Have you tried this:

[code]

[2021-05-15 12:57] #77 closed

[2021-05-15 12:58] dericgw commented on #76
What styles are you trying to add, just so I am on the same page?

[2021-05-15 13:00] dericgw commented on #75
I tried and it worked on mine too. If this is still a problem, please comment and I will open this ticket back up.

[2021-05-15 13:00] #75 closed

[2021-07-15 09:16] ShardanaSoft opened #93 "FAB can't open after been closed"
Hi,
once the FAB is been closed it won't open again.

Step to reproduce (this only happens on **mobile** and event='hover')

1) open fab
2) press one of the actions, at this point fab is closed
3) try to open fab again...nothing happen

this bug is unlocked by typing on the background

I think this issue is related to #75 , but he doesn't mention is only about mobile.

You can test it in your [pag

[2021-07-15 20:51] dericgw commented on #93
Thanks for bringing this up. Are you saying it's only on mobile?

[2021-07-16 19:05] ShardanaSoft commented on #93
Yeah it looks like is only mobile fault.

Sorry I don't have enough knowledge to help you out with this ;(

[2021-07-29 08:54] smajumder2017 commented on #76
To change the Texts I mean to make it bold or italic or to change the font size

[2021-07-31 11:51] dericgw commented on #76
@smajumder2017 Are you talking about the labels beside the buttons or the icons inside the button?

[2021-08-01 06:44] smajumder2017 commented on #76
@dericgw Yes, That can be done also. I mean
` text:string | React.React.Node `
will work i guess

[2021-09-07 15:59] NicKZ-gene opened #98 "button cannot work for second action"
Hi, I found a problem in the Action.
<img width="384" alt="截屏2021-09-07 下午11 58 36" src="https://user-images.githubusercontent.com/57031199/132375697-f7c23642-0954-4b9c-91bd-6a3918d8093b.png">
here is my code.

When I click Action 2, Chat. The onClick function cannot work.

[2021-09-27 09:44] ivanjeremic commented on #72
Any way to diable the rotation?

[2021-10-29 20:57] dericcain commented on #93
I hope to have this fixed in #103. If you want to test it out, please do.

[2021-10-29 20:57] #93 closed

[2021-10-29 21:16] dericcain commented on #98
Could you provide a codesandbox with this issue please? I am going to close this for now but if you provide a codesandbox demonstrating the bug, then I will reopen it and we can address it.

[2021-10-29 21:16] #98 closed

[2022-01-21 08:01] Ashutosh-Roxiler commented on #76
![image](https://user-images.githubusercontent.com/85158856/150488886-bd464264-b11e-4879-be42-e8da6334cb89.png)
@dericcain  Once I'm passing one html element and passing custom styles to it. Event then black border appears over it Even After I have passed {border:none, outline: none}.
I have added screenshot as well Can u pls reply me asap.

[2022-02-18 08:32] 180107067 commented on #72
you can add this to css file
.rtf.open .rtf--mb > * {
    transform: rotate(0deg) !important;
}

[2022-04-18 06:33] Exter-dg commented on #40
I am unable to display text on hover while using onClick unless I set `alwaysShowTitle` to `true` where it stays on the screen always(even when the user is not hovering).
Also, any way to change the CSS on hover when onClick is enabled on Fab?

[2022-05-13 06:48] Kena-khakhkhar-incontact opened #112 "Open FAB horizontally instead of vertical"
I am new to this library but I guess the opening direction is fixed(vertical).Is there option to open it horizontally(Like right to left or left to right)? or any suggestion how to do that with css changes?

[2022-09-29 12:25] dericcain commented on #112
@Kena-khakhkhar-incontact I am trying to stick close to the Material Guidelines with this FAB implementation and the guidelines do not show a use case for a horizontal FAB. However, it does take a `style` prop and it also passes down props so something like Styled Components could possibly be used to come up with what you want to do. See this code: https://github.com/dericcain/react-tiny-fab/blob/

[2022-09-29 12:25] #112 closed